/* CSS HEX
--steel-pink: #db2cbe;
--rosso-corsa: #da0000;
--golden-yellow: #ffe100;
--dark-pastel-green: #3db839;
--midnight-blue: #0d1b70; */

@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

@font-face { /* per h1, sottotitolo */
  font-family: Heartbit;
  src: url(heartbit.bold.otf);
  
}

@font-face { /* per .byline e .publication* */
  font-family: Shmup;
  src: url(ShmupInTheZone-8Dng.ttf); 
}

@font-face { /* per il corpo del testo */
  font-family: "Portland";
  src: url(PortlandLdo-L394.ttf); 
}

@font-face { /* per h2 e h3 */
  font-family: LifeSavers;
  src: url(LifeSavers-Bold.ttf); 
}

@font-face { /* per h1 COVER */
  font-family: Ageta Chubby Demo;
  src: url(Ageta-Chubby-Demo.otf);
  
}





/* global styling */
@-ms-viewport {
  width: device-width;
}

/* global styling */
::selection {
  /*color: white;
  background: #243D00;*/
}

[onClick] { cursor: pointer; }

[onclick]:hover {
	
}

span {
	color: #DA0000;
}

p, h2, h3, h4, h5, h6, img {
	margin: 3vW;
}

h1 {
	font-family: Heartbit;	
	color: #db2cbe;
	text-shadow: 3px 2px #ffe100, 3px 3px 5px #0d1b70;
	font-size: 6vw;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(7deg);
	width: 70vW;
	margin: auto;
	padding-top: 4vW;

}

body {
	margin: 0;
	font-family: Portland;
	/*background-image: url(90spattern.jpg);
	background-size: 80vW;
	background-repeat: repeat;
	-webkit-backdrop-filter: blur(2px); /* no blur per h1?
  	backdrop-filter: blur(2px); 
	background-image: url(green-gradient.jpg);
	background-size: cover;*/
}

h2 {
	font-family: LifeSavers;
	font-size: 40px;
	color: #3db839;
	text-shadow: 1px 1px 1px #22691f;
}

h3 {
	font-family: LifeSavers;
	font-size: 30px;
	color: #0D1B70;
	text-shadow: 1px 1px 1px #1f71ff;
}


section:first-of-type {
	display: flex;
	flex-direction: column;
}

section:first-of-type > figure {
	order: 99;
	width: 100%;
	margin: 0;
	background-image: none;
}

section:first-of-type > figure > img {
	width: 90%;
	margin: 0;
}

section:first-of-type > h1 { order: 1; }

section:first-of-type > .subtitle {order: 2;}

section:first-of-type > .byline {order: 3;}

section:first-of-type > .publicationDate {order: 4;}

section:first-of-type > .publicationTime {order: 5;}

section:first-of-type > .lastModification {order: 6;}

section:first-of-type > .publicationPlace {order: 7;}


figure {
	display: flex;
    align-items: center;
	background-image: url(notebook.PNG);
	background-size: cover;
}

figcaption {
	font-family: Shmup;
	margin-right: 3vw;
	font-size: 1.5vw;
}

figure:first-of-type {
	background-image: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


figure:first-of-type > figcaption {
	order: 99;
	margin-left: 0;
	margin-right: 0;
	font-size: 1.3vw;
	line-height: 1.5;
    color: #0d1b70;
    width: 90%;
    text-align: center;
}

figure:nth-of-type(odd) > img {	
	order: 99;
	padding-right: 2vw;
	padding-top: 3vw;
}

figure:nth-of-type(odd):not(:first-of-type) > figcaption { margin-left: 5vw; }

figure:nth-of-type(even) > img {
	padding-left: 2vw;
	padding-top: 3vw;
}

img {
	/* position: relative;
	display: block;*/
	
}

img:nth-of-type(3n+1) { /* allineata a sinistra, abbastanza grande */
	float: left;
	left: 3vW;
	width: 50%;
}

img:nth-of-type(3n+2) { /* allineata a destra, abbastanza grande */
	float: right;
	width: 50%;
	border: 10px solid transparent;
	border-image: url(90spattern2.jpg) 5% round;
	transform: rotate(5deg); /* animazione? */
}

img:nth-of-type(3n+3) { /* allineata a sinistra, piccola */
	float: left;
	left: 3vW;
	width: 30%;
	border: 0.5vW solid;
  	border-image-slice: 1;
  	border-image-source: linear-gradient(to left, #DA0000, #FFE100);
  	border-image-slice: 1;
  	transform: rotate(-5deg); /* animazione? */
}


p.byline, .publicationDate, .publicationPlace, .publicationTime, .lastModification {
	margin-bottom: 0;
	background-color: #ffe100;
	width: 30%;
	margin: auto;
	font-weight: 400;
	transform: rotate(-7deg);
	width: max-content;
	font-family: Shmup;
	margin-top: 0.5vW;
	padding: 0.5vW;
	font-size: 1.5vw;
}

.byline { 
	margin-top: 1vW;
}

.subtitle {
	text-align: center;
	font-family: Heartbit;
	font-size: 3.5vw;
	text-align: center;
	font-weight: 400;
	width: 90vW;
	margin: auto;
	padding-top: 0.5vW;
	margin-top: 3vh;
}


blockquote {
	font-family: 'Overpass Mono', monospace;
	width: 40%;
	padding-bottom: 2vw;
	padding-top: 3vw;
	padding-left: 2vw;
	padding-right: 2vw;
}

.quoteAuthor, blockquote > p { margin: 1vw; }


blockquote:nth-of-type(even) {
	background-image: url(paper-clip.png), url(green-gradient.jpg);
    background-position: 95% 0vw, center bottom;
    background-size: 10%, 100% 90%;
    background-repeat: no-repeat, no-repeat;
	float: right;
	transform: rotate(5deg);
	margin: 3vw 5vw 6vw 3vw;
}

blockquote:nth-of-type(odd) {
	background-image: url(pink-tape.png), url(pink-gradient.jpg);
 	background-position: 50% -1.3vw, center bottom;
  	background-size: 30%, 100% 90%;
  	background-repeat: no-repeat, no-repeat;
	float: left;
	transform: rotate(-5deg);
	margin: 3vw 3vw 6vw 4vw;
}




/* COVER ////////////////////////////////////////////////////*/

div#coverText {
	display: flex;
    flex-direction: column;
}

#coverText h1 {
	order: 2;
	transform: none;
    font-size: 12vw;
    font-family: Ageta Chubby Demo;
}


#coverText p {
	text-transform: uppercase;
	font-weight: bold;
}


#coverText p:nth-of-type(1) {
	order: 1;
    text-align: justify;
    margin-left: 20%;
    width: 60%;
    padding: 2vw;
}

#coverText p:nth-of-type(1):after {
	content: "";
	background-image: url(cover-art1.png);
	height: 20vw;
    width: 30vw;
    display: block;
    background-size: 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 80%;
    margin-top: -20%;
}

#coverText p:nth-of-type(1):before {
	content: "";	
    background-color: #ffe100;
	height: 20vw;
    width: 30vw;
    display: block;
}


#coverText p:nth-of-type(2) {
	order: 3;
}


#coverText p:nth-of-type(2):before {
	content: "";
	background-image: url(cover-art2.png);
	background-size: cover;
    height: 35vw;
    width: 30vw;
    display: block;
    background-repeat: no-repeat;
    background-position: center;	
}


#coverText p:nth-of-type(3) {
	order: 4;
    margin-left: 20%;
    width: 50%;
}


#coverText p:nth-of-type(3):before {
	
}

#coverText p:nth-of-type(3):after {
	content: "";
	background-image: url(cover-art3.jpg);
	height: 30vw;
    width: 40vw;
    display: block;
    /* margin-bottom: -30%; */
    margin-top: -30%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 70%;
}


#coverText p:nth-of-type(4) {
	order: 5;
}


#coverText p:nth-of-type(4):before {
	content: "";
    background-image: url(cover-art.jpg);
    height: 30vw;
	width: 30vw;
    display: block;
    
}

#coverText p:nth-of-type(4):after {
	content: "";
    background-color: ;
    
}

#coverText p:nth-of-type(5) {
	order: 6;
}


#coverText p:nth-of-type(5):before {
	content: "";
	background-color: #9d8485;		
}


#coverText p:nth-of-type(5):after {
	content: "";
    background-image: url(cover-art5.png);
    	
}