/* CSS HEX */

:root {
    --pink: #FF9E9E;
    --steel-pink: #db2cbe;
    --rosso-corsa: #da0000;
    --golden-yellow: #ffe100;
    --dark-pastel-green: #3db839;
    --dark-green: #0D701E;
    --midnight-blue: #0d1b70;
    --violet-blue: #3A4AAD;
    --orange: #FD9309;
    --light-blue: #9FF0FB;
}


@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap');

@font-face { /* per h1, sottotitolo */
  font-family: Heartbit;
  src: url(heartbit.bold.otf);
  
}

@font-face { /* per .byline e .publication* */
  font-family: Shmup;
  src: url(ShmupInTheZone-8Dng.ttf); 
}

@font-face { /* per il corpo del testo */
  font-family: "Portland";
  src: url(PortlandLdo-L394.ttf); 
}

@font-face { /* per h2 e h3 */
  font-family: LifeSavers;
  src: url(LifeSavers-Bold.ttf); 
}

@font-face { /* per h1 COVER */
  font-family: Ageta Chubby Demo;
  src: url(Ageta-Chubby-Demo.otf);
  
}

@font-face { /* per figure caption */
    font-family: Pickle Juice;
    src: url(Pickle-Juice.ttf);
}





/* global styling */
@-ms-viewport {
  width: device-width;
}

* {
    box-sizing: border-box;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

::selection {
    color: #ffffff;
    background-color: var(--steel-pink);
}

span::selection { color: green; }

time::selection { color: gold; }

[onClick] { cursor: url(glitter-pointer.png), pointer; }


span {
    color: var(--rosso-corsa);
    font-size: 1.2em;
}

time {
    color: var(--midnight-blue);
    font-size: 1.2em
}

span:hover, time:hover {
    transform: scale(1);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.95);
        font-size: 1.2em;
    }
    50% {
        transform: scale(1);
        font-size: 1.3em;
        font-weight: bold;
    }
    100% {
        transform: scale(0.95);
        font-size: 1.2em;
    }
}

p, h2, h3, h4, h5, h6 {
    margin: 0.5em 1em 0 1em;
}

p {
    font-size: 16px;
}

img {
    margin: 1em;
}

h1 {
	font-family: Heartbit;	
	color: var(--midnight-blue);
    text-shadow: 3px 2px var(--light-blue), 3px 3px 5px var(--dark-green);
    font-size: 58px;
	text-align: center;
	text-transform: uppercase;
	transform: rotate(7deg);
	width: 70vW;
	margin: auto;
	padding-top: 4vW;

}

body {
	margin: 0;
	font-family: Portland;
	cursor: url(glitter-auto.png), auto;
}


h2 {
    text-align-last: right;
    font-family: LifeSavers;
    font-size: 40px;
    color: var(--dark-pastel-green);
    text-shadow: 1px 1px 2px var(--dark-green);
    width: 50%;
    margin-bottom: 0.5em;
    margin-top: 1em;
}

h2::first-line {
    text-decoration: underline;
    text-decoration-color: purple;
    line-height: 0.5;
    color: darkgreen;
}


h3 {
	font-family: LifeSavers;
    font-size: 35px;
    color: var(--midnight-blue);
    text-shadow: 1px 1px 1px var(--midnight-blue);
    width: max-content;
    background-image: url(../../imgs/yellow-for-home.jpg);
    background-size: 100% 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 1em;
    margin-left: auto;
    text-align: right;
}


section:first-of-type {
	display: flex;
	flex-direction: column;
    background-image: url(section-bg2.jpg);
    background-size: 120%;
    background-position: 50% -10em;
}

section:first-of-type > figure {
	order: 8;
	width: 100% !important;
	margin: auto !important;
	background-image: none;
    display: flex;
    flex-direction: row !important;
    margin-top: -2em;
    align-items: flex-start;
}

section:first-of-type > figure > img {
	margin: 0;
    border: 0;
    width: unset !important; 
    float: unset;
    max-height: 18em;
    border: 10px solid transparent;
    border-image: url(90spattern2.jpg) 5% round;
}

section:first-of-type > figure > figcaption {
    transform: none;
    order: 1;
    max-width: 45% !important;
    width: unset !important;
    margin: 0;
    margin-right: -4em !important;
    z-index: 99;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px white;
}

section:first-of-type > figure > figcaption:before { content: none; }

section:first-of-type > h1 { order: 1; }

section:first-of-type > .subtitle {order: 2;}

section:first-of-type > .byline {order: 3;}

section:first-of-type > .publicationDate {order: 4;}

section:first-of-type > .publicationTime {order: 5;}

section:first-of-type > .lastModification {order: 6;}

section:first-of-type > .publicationPlace {order: 7;}

section:first-of-type > p {order: 99;}





/*section:nth-of-type(3n+3) {
    border: px solid;
    box-shadow: 2px 2px 3px lightgrey, -2px -2px 3px lightgrey;
    margin: 1em;
    border-radius: 10px;
}*/









video {
    max-width: 80%;
    margin: auto;
}







figure {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 50em;
    margin-top: 2em;
    margin-bottom: 2em;
}

figure > img {
    max-height: 15em;
    object-fit: contain;
}

figcaption {
	font-family: Pickle Juice;
	font-size: 18px;
}




figure:nth-of-type(odd) { /* figure dispari: sfondo paper e figcaption inclinata */
    background-image: url(paper.jpg);
    background-size: cover;
    width: 40%;
    float: right;
    margin: 1em;
}

figure:nth-of-type(odd) > img {	
	order: 99;
    width: 90%;
}

figure:nth-of-type(odd) > figcaption {
    transform: rotate(-10deg);
    margin: 2em 0em 1em 1em !important;
}

figure:nth-of-type(odd) > figcaption:before { height: 0 !important; }




figure:nth-of-type(even) { /* figure pari: sfondo gradiente e immagine inclinata*/
    background: linear-gradient(to right, var(--midnight-blue), var(--light-blue));
    border: 3px dashed var(--violet-blue);
    width: 40%;
    float: left;
    margin: 1em;
}

figure:nth-of-type(even) > img {
    border: none;
    transform: rotate(5deg);
    margin: 1em;
    width: 70%;
}

figure:nth-of-type(even) > figcaption { max-width: 70% !important; }








img:nth-of-type(3n+1):not(:first-child) { /* allineata a sinistra, bordo blu */
	float: left;
	left: 3vW;
	width: 50%;
    border: 3px dashed var(--violet-blue);
    margin-bottom: 0.3em;
}

img:nth-of-type(3n+1):not(:first-child) + figcaption { /* figcaption sotto, sfondo gradiente */
    display: inline-block;
    max-width: 40%;
    width: max-content;
    padding-left: 1.5em;
    float: left;
    margin: -1em 1em 1em 3em;
    padding-top: 0.5em;
    background: linear-gradient(var(--midnight-blue), var(--light-blue));
}

img:nth-of-type(3n+1):not(:first-child) + figcaption:before {
    content: "";
    margin-left: -5em;
    background-image: url(blue-arrow.png);
    background-position: center;
    background-size: 110%;
    height: 2.5em;
    width: 5em;
    float: left;
}


img:nth-of-type(3n+2) { /* allineata a destra, abbastanza grande */
	float: right;
	width: 50%;
	border: 10px solid transparent;
	border-image: url(90spattern2.jpg) 5% round;
	transform: rotate(5deg); 
}

img:nth-of-type(3n+2) + figcaption {
    background: linear-gradient(to bottom, var(--dark-pastel-green), var(--golden-yellow));
    padding: 1em;
    width: 40%;
    margin-top: 7vw;
    margin-left: 7em;
    text-align: right;
}


img:nth-of-type(3n+3) { /* allineata a sinistra, piccola */
	float: left;
	left: 3vW;
	width: 30%;
	border: 0.5vW solid;
  	border-image-slice: 1;
  	border-image-source: linear-gradient(to left, var(--rosso-corsa), var(--golden-yellow));
  	border-image-slice: 1;
  	transform: rotate(-5deg); /* animazione? */
}

img:nth-of-type(3n+3) + figcaption:before {
    content: "";
    background-image: url(red-triangle.png);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    height: 2em;
    width: 2em;
    float: left;
}

img:nth-of-type(3n+3) + figcaption { /* figcaption a destra, grande */
    padding: 1em;
    max-width: 35%;
    width: max-content;
    margin: 1em 1em 1em -2em;
    float: left;
    background: conic-gradient(var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange), var(--orange), var(--golden-yellow), var(--orange));
}




p.byline, .publicationDate, .publicationPlace, .publicationTime, .lastModification {
	margin-bottom: 0;
	background-color: var(--golden-yellow);
	margin: auto;
	font-weight: 400;
	transform: rotate(-7deg);
	width: max-content;
    max-width: 95%;
	font-family: Shmup;
	margin-top: 0.5vW;
	padding: 0.5vW;
    font-size: 18px;
}

.byline { 
	margin-top: 1vW;
    text-align: center;
}

.subtitle {
	text-align: center;
	font-family: Heartbit;
	font-size: 35px;
	text-align: center;
	font-weight: 400;
	width: 90vW;
	margin: auto;
	padding-top: 0.5vW;
	margin-top: 3vh;
}


blockquote {
	font-family: 'Overpass Mono', monospace;
	width: 40%;
    font-size: 16px;
    padding: 1em;
}

.quoteAuthor, blockquote > p { margin: 1vw; }


blockquote:nth-of-type(even) {
	background-image: url(paper-clip.png), url(green-gradient.jpg);
    background-position: 95% 0vw, center bottom;
    background-size: 10%, 100% 90%;
    background-repeat: no-repeat, no-repeat;
	float: right;
	transform: rotate(5deg);
	margin: 1vw 1vw 2vw 2vw;
}

blockquote:nth-of-type(odd) {
	background-image: url(pink-tape.png), url(pink-gradient.jpg);
 	background-position: 50% -1.3vw, center bottom;
  	background-size: 30%, 100% 90%;
  	background-repeat: no-repeat, no-repeat;
	float: left;
	transform: rotate(-5deg);
	margin: 1vw 1vw 3vw 1vw;
}



p:nth-of-type(9n+4):not(.byline):not(.publicationDate):not(.publicationPlace):not(.publicationTime):not(.lastModification) {
    /*width: 60%;*/
    text-align: justify;
    background: linear-gradient(90deg, var(--dark-pastel-green) 40%, transparent);
    padding: 0.5em;

}

p:nth-of-type(9n+7) {
    /*width: 60%;*/
    text-align: right;
    padding: 0.5em;
    /*display: block;
    margin-right: 2em;
    margin-left: auto;*/
    box-shadow: 3px 3px 10px magenta;
}

p:nth-of-type(9n+9) {
    color: var(--midnight-blue);
    border: 1px solid var(--midnight-blue);
    padding: 0.5em;
    border-radius: 25px;
}

























/* COVER ////////////////////////////////////////////////////*/

div#coverText {
	display: flex;
    flex-direction: column;
    -webkit-backdrop-filter: blur(2px);
  	backdrop-filter: blur(2px); 
  	background-image: url(quizzes.png), url(annoying-bg.gif);
    background-repeat: no-repeat, no-repeat;
    background-size: 30%, cover;
    background-position: -2vw -3vw, center;
}

#coverText h1 {
	order: 2;
	transform: none;
    font-size: 150px;
    font-family: Ageta Chubby Demo;
    color: var(--light-blue);
    text-shadow: 1vw 1px var(--midnight-blue);
    margin-top: 18vw;
    margin-left: 1vw;
    line-height: 0.8;
    letter-spacing: -3px;
    font-style: oblique;
    text-align: left;
    text-align-last: right;
    z-index: 99;
}

#coverText h1:after {
	content: "!";
}


#coverText p {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 19px;
}

#coverText p:hover {
    text-shadow: 2px 2px 2px var(--pink), -2px -2px 4px var(--steel-pink);
    animation: shadows 0.6s infinite;
}


@keyframes shadows {
    0% { text-shadow: 2px 2px 2px var(--pink), -2px -2px 2px var(--steel-pink); }
    25% { text-shadow: 2px -2px 2px var(--pink), -2px 2px 2px var(--steel-pink);    }
    50% { text-shadow: -2px -2px 2px var(--pink), 2px 2px 2px var(--steel-pink); }
    75% { text-shadow: -2px 2px 2px var(--pink), 2px -2px 2px var(--steel-pink); }
    100% { text-shadow: 2px 2px 2px var(--pink), -2px -2px 2px var(--steel-pink); }
}


#coverText p:nth-of-type(1) {
    order: 1;
    text-align: center;
    margin-left: 22vw;
    max-width: 45vw;
    padding: 2vw;
    z-index: 99;
    position: absolute;
    margin-top: 8vw;
    margin-right: 1vw;
}

#coverText p:nth-of-type(1):after {
	content: "";
    background-image: url(cover-art1.png);
    height: 25vw;
    width: 33vw;
    position: absolute;
    background-size: 90%;
    background-position: 50%;
    background-repeat: no-repeat;
    z-index: -99;
    margin-top: -13vw;
    right: -54%;
}

#coverText p:nth-of-type(1):before {
	content: "";
    background-color: var(--golden-yellow);
    height: 100%;
    width: 100%;
    position: absolute;
    margin-top: -2em;
    margin-bottom: -20%;
    margin-left: -2em;
    z-index: -1;
    border: 4px ridge var(--steel-pink);
}


#coverText p:nth-of-type(2) {
	order: 3;
    margin-left: 25%;
    margin-top: -6vw;
    transform: rotate(-7deg);
    background-image: url(green-cover-art2.JPG);
    background-position: center bottom;
    font-family: Heartbit;
    font-size: 1.9em;
    background-repeat: no-repeat;
    background-size: 100% 25%;
    width: 40%;
}


#coverText p:nth-of-type(2):before {
	content: "";
	background-image: url(cover-art2.png);
	background-size: cover;
    height: 35vw;
    width: 30vw;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: -30%;
    margin-left: -60%;
    transform: rotate(7deg);	
}


#coverText p:nth-of-type(3) {
	order: 4;
    margin-left: 30%;
    width: 40%;
    margin-top: -20vw;
    text-align: right;
    font-family: Shmup;
    font-size: 1.6em;
    color: purple;
}


#coverText p:nth-of-type(3):before {
	
}

#coverText p:nth-of-type(3):after {
	content: "";
    background-image: url(cover-art3.jpg);
    height: 30vw;
    width: 40vw;
    display: block;
    /* margin-bottom: -30%; */
    margin-top: -40%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 70%;
    border-radius: 40%;
}


#coverText p:nth-of-type(5) {
    order: 6;
    font-family: LifeSavers;
    background-image: url(cover-art4-sfondo.jpg);
    background-size: 100% 40%;
    max-width: 40%;
    z-index: 99;
    color: white;
    position: relative;
    margin-left: 29em;
    margin-top: -14em;
    margin-right: 0;
    margin-bottom: 1em;
    text-align: center;
    padding: 1em;
    background-position: center bottom;
    background-repeat: no-repeat;
}


#coverText p:nth-of-type(5):before {
    content: "";
    background-image: url(cover-art5.png);
    display: block;
    width: 25vw;
    height: 20vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 41%;
    margin-right: 0;
}


#coverText p:nth-of-type(4) {
    order: 5;
    font-family: Heartbit;
    font-size: 2em;
    width: 50%;
    height: 100%;
    background-image: url(cover-art5bis.png);
    background-position: -3vw 20%;
    background-size: 110%;
    background-repeat: no-repeat;
    z-index: 99;
    text-align: center;
    color: var(--midnight-blue);
    text-shadow: 1px 1px black, 1px 1px 3px black;
    margin-top: 3.5em;
    margin-left: 0.2em;
    margin-bottom: 0;
    padding-left: 3em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    border: 3px dotted var(--golden-yellow);
}


/*#coverText p:nth-of-type(4):before {
	content: "";
    background-image: url(cover-art5bis.png);
    background-repeat: no-repeat;
    height: 20vw;
    width: 30vw;
    display: block;
    background-size: cover;
    margin-left: 30%;		
}*/























/* ///////////////// MEDIA QUERIES ////////////////////////////////////////////////////////////////////////*/


/* tablets */
@media (min-width: 481px) and (max-width: 768px) {

    span:hover, time:hover {
        transform: none;
        animation: none;
    }

    #coverText p:hover {
        text-shadow: none;
        animation: none;
    }

    h1 { font-size: 46px; }

    h2 { 
        font-size: 32px; }

    h3, .subtitle { font-size: 28px; }

    p, blockquote { font-size: 14px; }

    figcaption, .byline {font-size: 16px; }

    #coverText h1 { 
        font-size: 80px;
        margin-top: 1.6em;
    }

    #coverText p { font-size: 16px; }

    #coverText p:nth-of-type(1) {
        margin-left: 8em;
        width: 45%;
        padding: 1em;
        z-index: 99;
        margin-top: 2em;
        margin-right: 0;
    }

    #coverText p:nth-of-type(1):before {
        height: 100%;
        width: 100%;
    }

    #coverText p:nth-of-type(2) {
        background-size: 100% 2em;
        max-width: 15em;
        font-size: 1.5em;
        margin-left: 5em;
        width: max-content;
    }

    #coverText p:nth-of-type(2):before {
        height: 6em;
        width: 6em;
        margin-bottom: -3em;
        margin-left: -5em;
    }

    #coverText p:nth-of-type(3) {
        margin-top: 20%;
        width: 70%;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

    #coverText p:nth-of-type(3):after {
        margin-top: -30%;
        margin-left: 78%;
    }

    #coverText p:nth-of-type(4) {
        order: 5;
        width: 80%;
        margin: auto;
    }

    #coverText p:nth-of-type(5) {
        max-width: 80%;
        order: 6;
        margin: auto;
        background-size: 100% 65%;
    }

    #coverText p:nth-of-type(5):before {
        margin-left: 70%;
    }
    


}


@media (max-width: 555px) {
    #coverText h1 {
        margin-top: 2em;
        max-width: 90%;
    }
}

@media (max-width: 526px) {
    #coverText h1 { font-size: 70px !important;}
}





/* smartphones */
@media (max-width: 480px) {

    span:hover, time:hover {
        transform: none;
        animation: none;
    }

    #coverText p:hover {
        text-shadow: none;
        animation: none;
    }

    section:first-of-type > figure {
        flex-wrap: wrap-reverse;
        align-items: flex-end;
    }

    section:first-of-type > figure > figcaption {
        margin: -1.5em 0em 1em 0em !important;
        max-width: 80% !important;
        font-size: 1.2em !important;
        background-color: rgba(255, 255, 255, 0.7);
    }

    section:first-of-type > figure > img {
        max-height: unset !important;
        width: 100%;
        margin-top: -1em;
    }

    h1 { 
        font-size: 40px;
        width: 95%;
    }

    h2 { 
        font-size: 28px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    h3, p.subtitle { font-size: 20px !important; }

    p, blockquote, figcaption, p.byline { font-size: 15px !important; }

    blockquote {
        width: 90%;
        text-align: center;
    }

    blockquote:nth-of-type(odd) {margin: 1em 0.5em 1em 1em !important;}

    blockquote:nth-of-type(even) {margin: 1em 1em 1em 0.5em !important;}

    figure {
        flex-direction: row;
        max-width: 90%;
    }

    /* figure > figcaption {margin: 2em !important;} */

    figure > img {
        max-height: 40vh !important;
        width: unset !important;
    }

    figure:nth-of-type(odd), figure:nth-of-type(even) {
        width: 90%;
        /*max-height: 50vh;*/ 
        margin: 0.5em;
        flex-direction: column;
    }

    figure:nth-of-type(odd) > figcaption { margin: 1em; }

    img:nth-of-type(3n+2) + figcaption {
        width: 90%;
        margin: 1em;
    }

    img:nth-of-type(3n+3) + figcaption {
        max-width: 80%;
        margin: -1.5em 0.5em 0.5em 0.5;
    }

    #coverText h1 { 
        font-size: 70px;
        margin: 1.5em 0 -0.2em 0em;
        width: 95%;
        padding-top: 1em;
    }

    #coverText p { font-size: 18px !important; }

    #coverText p:nth-of-type(1) {
        margin-left: 6em;
        max-width: 15em;
        padding: 0.5em;
        z-index: 99;
        margin-top: 8vw;
        right: 30vw;
    }


    #coverText p:nth-of-type(1):before {
        width: 100%;
        margin-left: -1.5em !important;
        height: 100%;
        margin-top: -0.5em;
    }

    #coverText p:nth-of-type(2) {
        background-size: 100% 3em;
        width: max-content;
        max-width: 60%;
        z-index: 99;
        margin-left: 5em;
    }

    #coverText p:nth-of-type(2):before {
        margin-left: -5em;
        height: 80vh;
        width: 35vw;
    }


    #coverText p:nth-of-type(3) {
        padding-top: 4.5em;
        width: 80%;
        margin: auto;
        margin-bottom: 0;
    }

    #coverText p:nth-of-type(3):after {
        margin-top: -30%;
        height: 45vw;
        width: 60vw;
        margin: auto;
        margin-top: -10%;
    }


    #coverText p:nth-of-type(4) {
        order: 5;
        width: max-content;
        max-width: 70%;
        margin: auto;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        height: unset;
        background-position: 70%;
        background-size: 300%;
        padding: 1em;
    }

    #coverText p:nth-of-type(5) {
        max-width: 80%;
        order: 6;
        margin: auto;
        margin-bottom: 3em;
        background-size: 100% 65%;
    }

    #coverText p:nth-of-type(5):before {
        margin-left: 60%;
    }
}



@media (max-width: 409px) {
    #coverText p:nth-of-type(1) {
        max-width: unset !important;
        width: 80% !important;
        margin: 1em auto 2em 1em;
        right: unset;
    }

    #coverText p:nth-of-type(1):before {
        max-width: unset !important;
        width: 95% !important;
        right: unset;
        height: 100%;
        padding: 0.5em;
    }

     #coverText p:nth-of-type(1):after {height: 0; content: "";}

     #coverText h1 {padding-top: 0.5em;}
}




@media (max-width: 355px) {
    #coverText p:nth-of-type(5) {
        background-size: 100% 85%;
    }

    #coverText h1 {font-size: 60px !important;}
}


@media (max-width: 300px) {
    #coverText h1 { font-size: 50px !important; padding-top: 1.5em !important;}
}