@font-face {
  font-family: "Lato Black";
  src: url("Lato-Black.ttf");
}
@font-face {
  font-family: "Assistant-Bold";
  src: url("Assistant-Bold.ttf");
}

@font-face {
  font-family: "UniversLTStd-Bold";
  src: url("UniversLTStd-Bold.otf");
}

@font-face {
  font-family: "Cheltenham Book Regular";
  src: url("Cheltenham Book Regular.otf");
}

#cover h1 {
	font-family: "Lato Black";
	color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 14vmax;
    letter-spacing: -7px;
    word-spacing: -4px;
    text-align: center;
    height: 200;
    box-sizing: border-box; 
    width: 101%;
}

#cover {
    background-image: url('cover.png');
    background-repeat: no-repeat;
    background-position: 98%, top;
    background-size: cover;
    padding-left: 2%;
    padding-bottom: 2%;
    overflow-x: hidden;
    background-position: top center;
}

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {background-color: #c6aa71;}

#cover p{
    font-family: "UniversLTStd-Bold";
    font-size: 3vmax;
    font-style: bold;
    max-width: 25vw;
    padding: 1rem;
    letter-spacing: -0.5px;

}

#cover p:nth-child(2) {
  color: green;
  border-bottom-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(3) {
color: #ffcc00;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(4) {
color: red;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(5) {
color: blue;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}
#cover p:nth-child(6) {
color: white;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

section h1{
    font-family: 'Assistant-Bold';
    font-size: 5vw;
    text-align: justify;
    letter-spacing: -1px;
    border-bottom: 2px solid black;
    column-span: all; 
}
section h1::after{
     content: [id^="FIGURE-1-"];  /*come metto l'immagine dopo il titolo?*/
}

body:not(#cover body){
    font-family: 'Cheltenham Book Regular';
    font-size: 1.5vw;
    font-weight: normal;
    color: #1f1e1e;
    background-color: #fffffa;
    text-align: justify;
    column-count: 3;
    column-gap: 2vw;
    column-rule-style: solid;
    column-rule-width: 0.2vw;
    border: 0.2vw solid black;
    padding: 1vw;
    letter-spacing: 0.02vw;
    word-spacing: 0.01vw;
   /* margin-left: 3vw;
    margin-right: 1vw;
    margin-bottom: 0.5vw;
    margin-top: 0.7vw; */
}
p:not(#cover p){
    letter-spacing: -0.01vw;
    word-spacing: 0.01vw;
    text-indent: 1.5vw;
    line-height: 20px;
    hyphens: auto;
}

p:nth-child(1)::first-letter { /* p:first-of-type:not(.subtitle):not(.byline):first-letter */
    font-weight: bold;
    font-size: 3vw;
    color: #1f1e1e;
}


/*
p:not(.publicationDate)::first-letter { voglio la prima lettera grande solo del primo p 
      font-weight: bold;
      font-size: 3vw;
      color: #1f1e1e;
      
}
*/
p a{color: #1f1e1e;}

img{
    width: 90%;
}

figcaption{
    font-family: 'Assistant-Bold';
    font-size: 1.2vw;

}

.subtitle{
    
    font-style: italic;
    text-align: justify;
}

.byline, .publicationDate{
    font-family: 'Assistant-Bold';
    text-align: right;
}
