@font-face {
  font-family: "Lato Black";
  src: url("Lato-Black.ttf");
}

h1#cover {
	font-family: "Lato Black";
	color: white;
	font-weight: bold;
    font-size: 12vmax;
}

body#cover {
  background-image: url('phoenix.png');
  background-repeat: no-repeat;
    background-position: 98%, top;
    background-size: cover;
    padding-left: 2%;
    padding-bottom: 2%;
    overflow-x: hidden;
}