@font-face {
  font-family: "Lato Black";
  src: url("Lato-Black.ttf");
}

h1#cover {
	font-family: "Lato Black";
	color: white;
	font-weight: 200;
    font-size: 12vmax;
    position: center;
}

body#cover {
    background-image: url('cover.png');
    background-repeat: no-repeat;
    background-position: 98%, top;
    background-size: cover;
    padding-left: 2%;
    padding-bottom: 2%;
    overflow-x: hidden;
}