
@font-face {
  font-family: P22 Bayer Universal Regular;
  src: url("P22 Bayer Universal Regular.ttf");
  
}

@font-face {
  font-family: Ronda Regular;
  src: url("rondaregular.ttf");
  
}


@font-face {
  font-family: "Bauhaus 93";
  src: url("bauhaus93.ttf"); 
}

/*
h1, .byline{
  font-family: "Bauhaus 93";
}
*/

/* stile per cover page*/

body#cover{
  background: url('triangle.jpg') right top no-repeat, url('sfondo_beige.jpg') right top repeat;
  background-size: 50%, 100%;
}

p#cover{transform: rotate(15deg);}

/* stile per articoli*/

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {color: #ff0000;}

/* stile del titolo con righe colorate e immagini quadrato, cerchio, triangolo*/
body{
  background: url('bau-esclama.png') right top no-repeat, url('sfondo_beige.jpg') right top repeat; 
  /*background-repeat: no-repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: initial, right top;*/
  background-size: 40%, 100%;
  
}

body:not(.h1){
  font-family: "Ronda Regular";
  font-size: 14pt;
  font-weight: lighter;
  text-align: justify; /* or left? */
  margin-right: 20mm; /* vW? secondo Tscihold*/
  margin-left: 20mm;
  line-height: 1.6; /* 21pt;*/
  text-align-last: left;
  text-transform: lowercase;
  text-decoration: none; 
  overflow-x:hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  letter-spacing: 0.03em;
  word-spacing: 0.04em;
}



section{ /* come faccio a dirgli solo dopo il primo voglio la riga? */
border-bottom: 40px solid red;
bottom: 20pt;
}

section img{
  position: relative;
  top: 60px;
}

#heading img {
  position: relative;
  top: 60px;
}

video source{
  width: 30%;
  padding-top:2.5em;
  padding-bottom:3.5em;
}

h1{
  font-family: "Bauhaus 93";
  text-align: left;
  text-transform: uppercase;
  font-size: 198%;  /* boh o large*/
  /*font-style: bold;*/
  /* va a capo alla quarta parola*/
  transform: rotate(-15deg);
 /* height: 80px; */
  padding-top:4.5em;
  padding-bottom:4.5em;
  padding-left: 2.5em;
  color: #141514;
  box-sizing: content-box;  
  width: 40%; /*era 30*/
  height: 90px;  /*era 100*/
  border: 0px;
}

h2{
  font-family: "Bauhaus 93";
  font-size: 180%;
}

h3{
  font-family: "Bauhaus 93";
  font-size: 170%
}

p{
  text-align: justify;
  letter-spacing: 0.03em;
  word-spacing: 0.04em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p.byline{
  font-style:lowercase;
  position:relative;
  bottom: 100px;
  left: 600px;
  transform: rotate(15deg);
}

p.publicationDate{
  font-style:lowercase;
  position:relative;
  bottom: 400px;
  left: 500px;
  transform: rotate(15deg);
  color: blue; 
}

p.subtitle{
  font-style:lowercase;
  transform: rotate(90deg);
  box-sizing: content-box;  
  width: 60%;
  height: 60px;  
  border: 0px;
  position: relative;
  left: 60%;
  bottom: 190%;
  /*padding-bottom: 200pt; per spostarlo a destra
  padding-right: 200pt; */
}



/*
p{
  font-family: "Ronda Regular";
  font-size: 14pt;
  font-weight: lighter;
  text-align: justify; 
  margin-right: 20mm; 
  margin-left: 20mm;
  line-height: 1.6; 
  text-align-last: left;
  text-transform: lowercase;
} */
/* p:first-letter{color: #ff0000;} non mi serve più */

/*
q{
  font-family: "Ronda Regular";
  font-size: 14pt;
  font-weight: lighter;
  margin-right: 20mm; 
  margin-left: 20mm;
  text-transform: lowercase;
  }
*/
/*
p.q{
  font-family: "Ronda Regular";
  font-size: 14pt;
  font-weight: lighter;
  text-transform: lowercase;
}
*/
/*q{
  font-family: "Ronda Regular";
  font-size: 14pt;
  font-weight: lighter;
  margin-right: 20mm; 
  margin-left: 20mm;
  text-transform: lowercase;
}
*/
blockquote{
  margin-right: 0mm; 
  margin-left: 0mm;
  /*font-family: "Ronda Regular";
  font-style:lowercase;
  font-size: 14pt;
  font-weight: lighter;
  text-align: justify; 
  text-align-last: left;
  line-height: 1.6; 
  text-transform: lowercase; */
}

figcaption{
  font-family: "P22 Bayer Universal Regular";
  /*font-size: 13pt;*/
  text-align: justify;
  font-size: 12pt;
  font-weight: lighter;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 65%;
}

img{
  width: 60%;
  border: 20pt solid #f9f9eb;
 /*padding-right: 5pt;
  padding-left: 0pt;
  padding-top: 2%;*/
  filter:saturate(0%) sepia(100%) contrast(80%) saturate(100%); 
}

p a{color: black;}
/*
section#id{
  font-family: "Bauhaus 93";
  font-size: 170%
}
*/
/*
#bottom{
  bottom: 0px;
}
p:first-of-type:first-letter:not(.subtitle){
  text-indent: 2em;
  font-family: "Bayer Sans";
}

p.pubnote{text-transform: rotate(-90deg);}
h1{font-family: "Bauhaus 93";}
*/