@font-face {
  font-family: P22 Bayer Universal Regular;
  src: url("P22 Bayer Universal Regular.ttf");
  
}
@font-face {
  font-family: "Bauhaus 93";
  src: url("bauhaus93.ttf"); 
}

/*
h1, .byline{
  font-family: "Bauhaus 93";
}
*/

/* stile per cover page*/
/*
body#cover{
  background-image: url('bauhaus_sfondo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  font-family: "Bauhaus 93";
  font-weight:normal;
  font-style:normal;
}
p{text-align: justify;}

/* stile per articoli*/

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {color: #ff0000;}

/* stile del titolo con righe colorate e immagini quadrato, cerchio, triangolo*/

section{ /* come faccio a dirgli solo dopo il primo voglio la riga? */
border-bottom: 10px solid black;
}

section img{
  position: relative;
  top: 50px; 
  padding-top:1.5em;
  padding-bottom:3.5em;
}

video{
  width: 40%
  padding-top:1.5em;
  padding-bottom:3.5em;
}

p.byline{
  /*position:relative;
  bottom: 75px;
  left: 507px;*/
  transform: rotate(-15deg);

}

p.publicationDate{
  /*position:relative;
  bottom: 500px;
  left: 600px;*/
  transform: rotate(-15deg); 
}

p.subtitle{
  transform: rotate(90deg);
 /* position: relative;
  left: 30px;*/
}

body{
  background-image: url('sfondo_beige.jpg');
  /*font-family: "Bayer Sans"; */
}

h1{
  font-family: "Bauhaus 93";
  text-decoration: underline;
  font-size: 150%;  /* boh o large*/
  font-style: bold;
  transform: rotate(-15deg);
  height: 80em;
  padding-top:3.5em;
  padding-bottom:0.5em;
  padding-left: 4em;
}

h2{font-family: "Bauhaus 93";}
h3{font-family: "Bauhaus 93";}

p, q{
  font-family: "P22 Bayer Universal Regular";
  font-size: 14pt;
  font-weight: lighter;
  text-align: justify;
  margin-right: 20mm; /* vW? secondo Tscihold*/
  margin-left: 20mm;
  line-height: 21pt;
 /* text-indent: 3em; */
  text-align-last: left;
}
/* p:first-letter{color: #ff0000;} non mi serve più */

figcaption{font-family: "Bauhaus 93";}

img{
  width: 60%;
  filter: grayscale(100%) contrast(80%) saturate(60%);
}
p a{color: black;}

/*
#bottom{
  bottom: 0px;
}
p:first-of-type:first-letter:not(.subtitle){
  text-indent: 2em;
  font-family: "Bayer Sans";
}

p.pubnote{text-transform: rotate(-90deg);}
h1{font-family: "Bauhaus 93";}
*/