@font-face {
  font-family: Bodoni Six ITC;
  src: url(bodoni-six-itc-book.ttf);
  
}
@font-face {
  font-family: "Bodoni Seventytwo ITC";
  src: url("bodoni-seventytwo-itc-book.ttf"); 
}
h1, .byline{
  font-family: "Bodoni Seventytwo ITC";
}

/* stile per cover page*/

body#cover {
  background-image: url('aminta_cover_page.jpg');
  background-repeat: round;
  background-attachment: fixed;
  background-size: contain;
  height: 100%;
  font-family: 'Bodoni Six ITC';
  font-weight:normal;
  font-style:normal;
  margin-right: 0vW;
  margin-left: 0vW;
  margin-top: 0vW;
  margin-bottom: 0vW;
}

div#coverText {
    background-image: url(../sfondo_bodoni.jpg);
    padding-left: 28vw;
    padding-right: 18vw;
    padding-bottom: 30vw;
    padding-top: 20vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#cover p{
	text-indent: 0em;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

p{
	line-height: 1.5em;
	text-align:justify;
	letter-spacing: 0.03em;
    	word-spacing: 0.04em;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin-bottom: 0em;
    	margin-top: 0em;
}

/* stile per articoli*/

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {background-color: #b38316c4;}

body{
   background-image: 
    linear-gradient(
      rgba(255, 255, 240, 0.5), 
      rgba(255, 255, 240, 0.5)
    ),
    url('../sfondo_bodoni.jpg');
	
  background-color: #fcfcf4;
  /*background-image: url('../sfondo_bodoni.jpg');*/
  color: #44413c; /*black ink*/
  font-family: 'Bodoni Six ITC';
  font-weight:normal;
  font-style:normal;
  padding-right: 20vW;
  padding-left: 30vW;
  padding-top: 20vW;
  padding-bottom: 30vW;
}

p:not(.byline){text-indent: 2em;}

p:first-of-type:not(.subtitle):not(.byline):first-letter{font-size: 2em;}
p:first-of-type {
  text-indent: 0vw;
}
p:first-of-type:not(.byline):not(.subtitle) {margin-top: 30vw;}

p.pubnote {
	text-transform: none;
	text-align:left;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-family: 'Bodoni Six ITC';
        word-spacing: 1vw;
	line-height: 3.5vw;
        padding-top: 10vw;
	text-indent:0vw;
	font-style: italic;
}

p.pubnote:first-letter{font-size: 2em;}

p.byline, p.subtitle, p.publicationDate, img, h1 {
	text-align: center;
	text-transform: uppercase;
	word-spacing: 0.5em;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

img, video {
	width:100%;
	padding-top:1.5em;
	padding-bottom:1.5em;
	filter: grayscale(100%) brightness(70%) sepia(70%) contrast(100%);
}

.publicationTime, .lastModification {
	text-align: center;
	text-transform: uppercase;
	word-spacing: 0.5em;
	hyphens: auto;
	text-indent:0vw;
}

h1 {
	line-height: 1.5em;
	letter-spacing: 0.07em;
    	word-spacing: 0.25em;
    	font-size: 2.5em;
}

p.byline {
	font-size: 0.7em;
	line-height: 3rem;
	margin-top: 4vw;
}

p.byline .person {font-size: 2rem;;}

p.byline .person::before{
	content: "\a";
    	white-space: pre;
}
p.byline .person::after{
	content: "\a";
    	white-space: pre;
}

p.subtitle {
	font-size: 1.02em;
	line-height:2.5em;
	margin-top: 4vw;
}

p.publicationDate {
	font-size: 0.7em;
	margin-bottom:5em;
}

figcaption {margin-bottom:2em;}

h2, h3 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2.5em;
    	margin-top: 2.5em;
}

[id^="SECTION-1-"] {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

[id^="H1-1-"]{
	-webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
}

.subtitle {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
}

.byline {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
}

[id^="FIGURE-1-"] img{
	border-radius: 50%;
	height: 40vw;
    	width: 40vw;
        display: block;
        /*margin-left: auto;
        margin-right: auto;*/
}

[id^="FIGURE-1-"]{
	-webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        box-ordinal-group: 4;
}

.publicationDate {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        box-ordinal-group: 5;
}

.publicationTime {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        box-ordinal-group: 6;
}


@media screen and (max-width: 600px){
	body {
		padding-right: 14vW;
		padding-left: 21vW;
		padding-top: 14vW;
		padding-bottom: 21vW;
		margin-right: 0vw;
		margin-left: 0vw;
	}
	
	h1{
		line-height: 1.6em;
		letter-spacing: 0.07em;
		word-spacing: 0.25em;
		font-size: 1.7em;
	}
	
	p.subtitle {
		font-size: 0.9em;
		line-height: 1.75em;
		padding-bottom: 5vw;
	}
	
	p.byline {
		font-size: 1.1em;
		line-height: 2vw;
		padding-bottom: 4vw;
	}
	
	figure {margin: 0vw;}
	
	[id^="FIGURE-1-"] img {
		margin-block-start: 1em;
		margin-inline-start: 10vw;
		margin-inline-end: 10vw;
	}
	
	figcaption {
		margin-bottom: 6vw;
		text-transform: uppercase;
		font-style: italic;
		font-size: 2.5vw;
		line-height: 3.5vw;
		hyphens: auto;
	}
	
	p.publicationDate, .publicationTime, .lastModification {
		font-size: 0.7em;
		margin-bottom: 1vw;
	}
	
	p.pubnote{
		word-spacing: 2vw;
		line-height: 5vw;
	}
	
}






