@font-face {
  font-family: Bodoni Six ITC;
  src: url(bodoni-six-itc-book.ttf);
  
}
@font-face {
  font-family: "Bodoni Seventytwo ITC";
  src: url("bodoni-seventytwo-itc-book.ttf"); 
}
h1, .byline{
  font-family: "Bodoni Seventytwo ITC";
}

/* stile per cover page*/

body#cover {
  background-image: url('aminta_cover_page.jpg');
  background-repeat: round;
  background-attachment: fixed;
  background-size: contain;
  height: 100%;
  font-family: 'Bodoni Six ITC';
  font-weight:normal;
  font-style:normal;
  margin-right: 0vW;
  margin-left: 0vW;
  margin-top: 0vW;
  margin-bottom: 0vW;
}

div#coverText {
    background-image: url(../sfondo_bodoni.jpg);
    padding-left: 28vw;
    padding-right: 18vw;
    padding-bottom: 30vw;
    padding-top: 20vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    margin-left: 4vw;
    margin-right: 4vw;
}

#cover p{
	text-indent: 0em;
	margin-top: 2vw;
	margin-bottom: 2vw;
}

p{
	line-height: 1.5em;
	text-align:justify;
	letter-spacing: 0.03em;
    	word-spacing: 0.04em;
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin-bottom: 0em;
    	margin-top: 0em;
}

/* stile per articoli*/

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {background-color: #b38316c4;}

body{
   background-image: 
    linear-gradient(
      rgba(255, 255, 240, 0.5), 
      rgba(255, 255, 240, 0.5)
    ),
    url('../sfondo_bodoni.jpg');
	
  background-color: #fcfcf4;
  /*background-image: url('../sfondo_bodoni.jpg');*/
  color: #44413c; /*black ink*/
  font-family: 'Bodoni Six ITC';
  font-weight:normal;
  font-style:normal;
  margin-right: 20vW;
  margin-left: 30vW;
  margin-top: 20vW;
  margin-bottom: 30vW;
}

p:not(.byline){text-indent: 2em;}

p:first-of-type:first-letter:not(.subtitle){font-size: 2em;}
p:first-of-type {
  text-indent: inherit;
}

p.pubnote {
	text-transform: none;
	text-align:left;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	font-family: 'Bodoni Six ITC';
        word-spacing: 1vw;
	line-height: 3.5vw;
        padding-top: 10vw;
}

p.pubnote:first-of-type:first-letter{font-size: 2em;}

p.byline, p.subtitle, p.publicationDate, img, h1 {
	text-align: center;
	text-transform: uppercase;
	word-spacing: 0.5em;
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

img, video {
	width:100%;
	padding-top:1.5em;
	padding-bottom:1.5em;
	filter: grayscale(100%) brightness(70%) sepia(70%) contrast(100%);
}

h1 {
	line-height: 1.5em;
	letter-spacing: 0.07em;
    	word-spacing: 0.25em;
    	font-size: 2.5em;
}

p.byline {
	font-size: 0.7em;
	line-height: 3rem;
}

p.byline .person {font-size: 2rem;;}

p.byline .person::before{
	content: "\a";
    	white-space: pre;
}
p.byline .person::after{
	content: "\a";
    	white-space: pre;
}

p.subtitle {
	font-size: 1.02em;
	line-height:2.5em;
}

p.publicationDate {
	font-size: 0.7em;
	margin-bottom:5em;
}

figcaption {margin-bottom:2em;}

h2, h3 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2.5em;
    	margin-top: 2.5em;
}

[id^="SECTION-1-"] {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

[id^="H1-1-"]{
	-webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
}

.subtitle {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
}

.byline {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
}

[id^="FIGURE-1-"] img{
	border-radius: 50%;
	height: 14em;
        width: 14em;
        display: block;
        margin-left: auto;
        margin-right: auto;
}

[id^="FIGURE-1-"]{
	-webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        box-ordinal-group: 4;
}

.publicationDate {
        -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        box-ordinal-group: 5;
}

.publicationTime {
        -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        box-ordinal-group: 6;
}











