@font-face { font-family: "P22 Vienna Regular"; src: url("P22 Vienna Regular Regular.ttf"); }
@font-face { font-family: "P22 Vienna Regular"; src: url("p22_vienna_regular.ttf"); }
@font-face { font-family: "Auriol"; src: url("Auriol.otf"); }

/* global styling */
@-ms-viewport {width: device-width;}

/* PC */
[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
#cover p[onclick]:hover {text-decoration: underline;}

/*Only for cover*/

body#cover {
  background-image: url('liberty_background.jpg');
  background-repeat: no-repeat;
  background-attachment: inherit;
  height: 100%;
  font-family: "Auriol";
  font-weight:normal;
  font-style:normal;
  margin-right: 25vW;
  /*margin-left: 32vW;*/
  margin-top: 25vW;
  margin-bottom: 30vW;
  background-size: 100vw;
  /*font-size: 2em;*/
}

#cover h1 {
    color: rgb(203, 125, 106);
    font-family: 'Auriol';
    text-transform: uppercase;
    /*font-size: 4em;
    margin-left: 25vw;*/
    font-size: 6vw;
    margin-left: 20vw;
}

#cover p{
	margin-bottom: 2em;
    	text-align: left;
	color: rgb(137, 136, 103);
	text-transform: lowercase;
    	font-family: 'Auriol';
	/*line-height: 1em;*/
	line-height: 4vw;
	letter-spacing: 0.04em;
	word-spacing: 0.1em;
	/*font-size: 2em;
	margin-bottom: 1.5em;*/
	font-size: 3.5vw;
    	margin-bottom: 2.5vw;
	-webkit-hyphenate-character: auto;
	 hyphens: auto;
	 padding-left: 25vw;
}

#cover p:nth-child(3) {padding-right: 1vw;}
#cover p:nth-child(6) {padding-left: 31vw;}

#cover p::first-letter {text-transform: capitalize;}

/*For both cover and articles*/
body{
  background-color: #fcfcf4;
    column-count: 3;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    column-gap: 2vw;
    /*margin: 8px;*/
}

[id^="FIGURE-1-"] {
    column-span: all;
    padding-bottom: 3vw;
}

img{
    width: 100%;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

[id^="SECTION-1-"] {
    padding-top: 0vw;
    margin-top: 0vw;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

h1 { 
	font-family: "P22 Vienna Regular"; 
	font-weight: bold;
	font-size: 2.5em;
	text-align: center;
}

.byline { 
	margin-bottom: 2vw;
	margin-top: 2vw;
}
.subtitle {text-indent:0vw;}

p{
	line-height: 20px;
  	text-align:justify;
	font-family: "Auriol";
	font-weight:normal;
	font-style:normal;
}

    /* Set additional styling options for the columns*/

    .row{display: flex;
    	flex-direction: column;
    	flex-wrap: nowrap;
    	/*width: 100%;*/
    }
    .row, img{
    	text-align: justify;
    } 

   /* #image img{    
    	width: 100vW;
    	height: 40vh;
    }
    #text{
    	position: ;
    	color: #44413c;
	font-family: "Auriol";
       	font-weight:normal;
	font-style:normal;
    }
    div#text{
	column-count: 3;
    	column-gap: 1em;
    	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	}

    img .twoLat{}
    img .oneCenter{}
*/


/* TABLET */
  @media /* only */ screen and (max-width: 700px){
	/*  body#cover {
		      margin-top: 30vW;
	  }
	#cover h1 {
	    font-size: 4em;
	}

	#cover p{
		margin-bottom: 2em;
		text-align: left;
		color: rgb(137, 136, 103);
		text-transform: lowercase;
		font-family: 'Auriol';
		line-height: 1em;
		letter-spacing: 0.04em;
		word-spacing: 0.1em;
		font-size: 2em;
		margin-bottom: 1.5em;
		-webkit-hyphenate-character: auto;
		 hyphens: auto;
		 margin-left: 30vw;
	}
	  */
	  
}

/* SMARTPHONE */

  @media screen and (max-width: 550px){
}




/*FONTI
-  leopone westside
- https://en.wikipedia.org/wiki/Auriol_(typeface)
- foto con il gatto (https://www.idesign.wiki/wp-content/uploads/2015/10/ver-sacrum-cat.jpg)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0009/image (per 1 immagine orizzontale)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0032/image (per 1 immagine verticale)
- https://www.pde.it/2018/11/09/ver-sacrum-da-klimt-al-futuro-la-bellezza-tra-le-pagine/ (per due immagini verticali)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0017/image (per 1 immagine in mezzo a tante)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0120/image (per 1 immagine in mezzo a tante)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0365/image (per molto testo senza immagini)
- https://digi.ub.uni-heidelberg.de/diglit/jugend1900_2/0128/image (per molto testo senza immagini)
- https://www.clipartmax.com/png/middle/174-1748085_art-deco-flowers-art-deco-flower-clipart-41-bee-balm-art-nouveau.png (decorazione per sottotitoli)
*/

















