@font-face {
  font-family: "Lato Black";
  src: url("Lato-Black.ttf");
}

@font-face {
  font-family: "HelveticaNeueBd";
  src: url("HelveticaNeueBd.ttf");
}

@font-face {
  font-family: "UniversLTStd-Bold";
  src: url("UniversLTStd-Bold.otf");
}

@font-face {
  font-family: "Cheltenham Book Regular";
  src: url("Cheltenham Book Regular.otf");
}

#cover h1 { 
	font-family: "Lato Black";
	color: white;
  -webkit-text-stroke: 0.03em #ca870d;   
  text-shadow: -1px 0 #ffcc00, 0 0.03em #ffcc00, 0.03em 0 #ffcc00, 0 0.03em #ffcc00;
  text-transform: capitalize;
  font-size: 9em; 
  letter-spacing: -7px;
  word-spacing: -4px;
  text-align: center; 
  height: 205;
}

#cover {
    background-image: url('cover.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 98%, top;
    padding-left: 2%;
    padding-bottom: 2%;
    overflow-x: hidden;
    background-position: top center;
}

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {background-color: #1aa3ff;}    

#cover p{
    font-family: "UniversLTStd-Bold";
    font-size: 2em;
    font-style: bold;
    max-width: 25vw;
    padding: 1rem;
    letter-spacing: -0.5px;
    line-height: 4vw;
    text-indent: 0vw;
    word-spacing: 0.01vw;
    hyphens: none;
}

#cover p:nth-child(2) {
  color: green;
  border-bottom-style: solid;
  border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(3) {
color: #ffcc00;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(4) {
color: red;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:nth-child(5) {
color: blue;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}
#cover p:nth-child(6) {
color: white;
border-bottom-style: solid;
border-image: 
    linear-gradient(
      to right, 
      #ce8f50, 
      rgba(0, 0, 0, 0)
    ) 100% 0%;
}

#cover p:first-of-type::first-letter{
font-weight: normal;
    font-size: 1em;
    color: green;
  }

section h1{
    font-family: 'Lato Black';
    font-size: 3em;  
    text-align: center;
    letter-spacing: -1px;
    border-bottom: 2px solid black;
    column-span: all; 
    margin-top: 0;
    letter-spacing: -0.06em;
    background-color: #a6ff4d;
}

section:first-of-type [id^="FIGURE-1-"] {
  column-span:all;
  margin-top: -3vw;
  padding-top: 2vw;
  margin-bottom: 2vw;
}

body:not(#cover){
    font-family: 'Cheltenham Book Regular';
    /*font-size: 0.9em; 1.4vw */
    font-weight: normal;
   /* color: #1f1e1e; */
    background-color: #fffffa;
    text-align: justify;
    column-count: 3;
    column-gap: 2vw;
    column-rule-style: solid;
    column-rule-width: 0.2vw;
    border: 0.2vw solid black;
    padding: 1vw;
    letter-spacing: 0.02vw;
    word-spacing: 0.01vw;
    widows: 3;
    orphans: 3;
    margin-right: 8vw;
    margin-left: 2vw;
    margin-top: 3.5vw;
    margin-bottom: 4vw;
}

p{
    font-size:0.9em;
    text-indent: 1.5vw;
    line-height: 1.6vw;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

blockquote{
  line-height: 1.6vw;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-style: italic;
}

/*nth-child(1)*/
p:first-of-type:not(.byline):not(.subtitle):not(.publicationDate):first-letter { /* p:first-of-type:not(.subtitle):not(.byline):first-letter */
    font-weight: bold;
    font-size: 2em;  /*era 3 vw*/
    color: #1f1e1e;
}

[id^="SECTION-1-"] p:not(.subtitle){
  column-span:all;
  text-align:right;
} 

/*
p:not(.publicationDate)::first-letter { voglio la prima lettera grande solo del primo p 
      font-weight: bold;
      font-size: 3vw;
      color: #1f1e1e;
      
}
*/
p a{color: #1f1e1e;}

/* img:first-child{width: 100%;} */

img, video{
    width: 100%;
    filter: sepia(60%) contrast(99%) saturate(110%) brightness(100%) hue-rotate(-9deg);
}

figure {
  margin-block-start: initial;
  margin-block-end: initial;
  margin-inline-start: initial;
  margin-inline-end: initial;
}

/*
figcaption#FIGCAPTION-1-1 {
    font-size: 1.8vw;
}
*/

figcaption{
    font-family: 'HelveticaNeueBd';
    font-size: 0.9em;  /*era 1.5vw*/
    padding-bottom: 1vw;
}

h2, h3{
  font-size: 1.01em;       /*1.6vw;*/
  font-style: italic;
  text-align: left;
}

.subtitle{
    font-size: 1.01em;  
    font-style: italic;
    color: #1f1e1e;
    text-align: justify;
    column-span: all;
    text-indent: 0vw;
}

.publicationDate, .publicationTime, .lastModification {column-span: all;}

.byline:before{
  content: '';
  background:url('icon.png');
  display: inline-block;
  background-size: 07vw;
  background-repeat: no-repeat;
  width: 12% /* width of the image */;
  height: 5vw /* height of the image */;
  margin-right: 0.5vw;
}

.byline, .publicationDate, .publicationTime, .lastModification{
    font-family: 'HelveticaNeueBd';
    text-align: right;
}

.pubnote{
  font-family: "HelveticaNeueBd";
  text-align: right;
  }

@media screen and (max-width: 1000px){

  #cover h1{font-size: 8em;}
}    

@media screen and (max-width: 900px){

  #cover h1 {
    font-size: 4.9em;
    height: 150;
    letter-spacing: -1px;
    word-spacing: -1px
  }

  p{line-height: 1.0em;}
}

@media screen and (max-width: 800px){

   body:not(#cover){
      column-count: 2;
    }
/*  #cover {background-size: 190vw;} 

    #cover h1{
      font-size: 5.5em;
      height: 150;
      letter-spacing: -1px;
      word-spacing: -1px;
    } 
*/
    #cover p{line-height: 5vw;} 

    section h1{font-size: 2em;}

    p{line-height: 1.0em;}

    figcaption{line-height: 1em;}

    blockquote{line-height: 0.85em;}
} 

@media screen and (max-width: 600px){
    body:not(#cover){
      column-count: 2;
    }

   /* #cover {background-size: 250vw;} */

    #cover h1{
      font-size: 4.5em;
      height: 100;
    }

    #cover p{line-height: 6vw;}

    section h1{font-size: 1.5em;}

    p{line-height: 1em;}

    blockquote{line-height: 0.9em;}

} /*chiusura mediaquery*/


@media screen and (max-width: 400px){
    body:not(#cover){
      column-count: 1;
    }

    #cover h1{font-size: 2.5em;}

  /*  #cover {background-size: 330vw;} */

    #cover p{
      padding: 0rem;
      font-size: 0.6em;
      line-height: 6vw;
       word-spacing: 0.1vw;
    } /*serve?*/

    section h1{font-size: 2em;}  

    blockquote{line-height: 0.9em;}

  } /*chiusura mediaquery*/
