/* FONTS */
/* sans-serif for the body */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/* serif for titles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* sans-serif for subtitle and quoteAuthor */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');


/* CSS HEX */
:root {
	--deep-taupe: #7a6667;
	--army-green: #243d00;
	--black-coffee: #362728;
	--avory: #f6f4f5;
	--grey: #545454;
	--light-taupe: #9d8485;
}


/* global styling */
@-ms-viewport {
  width: device-width;
}

* {
    box-sizing: border-box;
    /*overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;*/
}


::selection {
  color: white;
  background: var(--army-green);
}

[onClick] {cursor:pointer;}

[onclick]:hover {
	font-weight: bold 700;
	animation: shadow 2s;
	animation-fill-mode: both;
}

p[onclick]:hover {      
	animation: shadoww 1s;
	animation-fill-mode: both;
}

@keyframes shadoww {
  100% {text-shadow: 2px 2px 3px var(--black-coffee), 2px 2px 3px var(--black-coffee);}
}

@keyframes shadow {
  100% {text-shadow: 2px 2px 2px var(--black-coffee);}
}


span, time { font-weight: 600; }

* { 

}


body{
	background-color: var(--avory);
	font-family: 'Open Sans', sans-serif;
	padding: 0vw 4vw 3vw 4vW;
}

h1, h2, h3, h4, h5, h6, blockquote {
	margin-top: 5vw;
	margin-left: 4vW;
	margin-right: 2vW;
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 4.5em;
	font-weight: 200;
	display: inline-block;
	margin: 1em 0.8em 0.5em 4em;
	margin-left: 30vW;
	margin-right: 3vW;
	background-image: url("painting.png");
	background-size: contain;
	background-repeat: no-repeat;	
  	background-position: 50% 100%;
}

h1::first-letter { font-weight: 600; }

h2 { 
	font-size: 2em;
	margin top: 2vw;
	margin-left: 3vw;
}

h2::before {
    background-color: var(--black-coffee);
    display: inline-block;
    content: "";
    height: 2vw;
    width: 7vw;
    margin-left: -8vw;
    margin-right: 1vw;
}

h3 { 
	font-size: 1.5em;
	font-weight: 400;	
}

h3::before {
    background-color: var(--deep-taupe);
    display: inline-block;
    content: "";
    height: 2vw;
    width: 7vw;
    margin-left: -9vw;
    margin-right: 1vw;
}

h3::first-letter {
	font-weight: 600;
}

section, article, div, blockquote {
	margin-bottom: 3vW;
}

p {
	line-height: 1.15;
	text-align:justify;
	/*letter-spacing: 0.03em;
	word-spacing: 0.04em;*/
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0 4vW 1vW 3vW;
	font-size: 0.95em; 
}



img{
	width:50%;
	margin-top: 4vW;
	margin-left: 3vW;
	margin-bottom: 0;
	display: block;
	/*float: left;
	clear: both;*/
}

img + * { margin-top: 4vw; }

figcaption {
	font-size: 0.7em;	
	position: relative;
}

/*@media only screen and (max-width: 480px) {
	figcaption {
		position: static;
		width: 100%;
		text-align: left;
		left: 0px;

	}

	img {
		width: 100%;
		margin-right: 2vW;
	}
}*/


body:after {
	content: "";
    background-image: url(social_icons.png);
    width: 25em;
    height: 3em;
    display: block;
    background-size: 100%;
    background-position: -0.5em center;
    background-repeat: no-repeat;
}




/* SECTIONS /////////////////////////////////////////////////////////*/

section:first-of-type {
	display: flex;
	flex-direction: column;
	margin-bottom: 3em;
}

section:first-of-type:before { height: 0; }

section:first-of-type > h1 {order: 1;}

section:first-of-type > figure {
	order: 99;
	display: flex;
	flex-direction: column;
}

section:first-of-type > figure > figcaption {
    width: 100%;
    position: static;
    text-align: justify; 
    padding-left: 0; 
    order: 99; 
    margin-top: 2vw;
}

section:first-of-type > figure > figcaption:after {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--grey);
    margin: 1vW 7vW 1vw 7vW;
}

section:first-of-type > .subtitle {order: 2;}

section:first-of-type > .byline {order: 2;}

section:first-of-type > .publicationDate {order: 4;}

section:first-of-type > .publicationTime {order: 5;}

section:first-of-type > .lastModification {order: 6;}

section:first-of-type > .publicationPlace {order: 7;}

section:first-of-type img, video {
	width: 100%;
	margin: 0;
}

section:first-of-type > p:not(.subtitle):not(.byline):not(.publicationDate):not(.publicationPlace):not(.lastModification):not(.publicationTime) {
	order: 99;
	width: 60%;
	text-align: center;
	margin: auto;
	font-size: 1.1em;
}



/*section:before {
	margin-left: 25%;
	margin-bottom: 2vW;
    margin top: 2vw;
    background-image: url(matita-verde.png);
    background-size: cover;
    background-position: center;
    display: block;
    height: 10vh;
    width: 40vw;
    background-repeat: no-repeat;
    content: "";    
}
*/

section:not(:first-of-type) > p:first-of-type:first-letter {
	font-size: 3em;
	color: var(--black-coffee);
	font-weight: bold;
	font-family: 'Playfair Display', serif; 
	float: left;
	line-height: 0.5;
}



/* FIRST SECTION Ps /////////////////////////////7*/

.publicationDate, .publicationTime, .publicationPlace, .lastModification {    
    margin: auto;
    background-color: rgba(36, 61, 0, 0.2);
    border-left: 0.8vw solid var(--army-green);
    max-width: 30%;
}

.publicationTime, .lastModification, p.publicationPlace { padding: 0 0 0.5vw 0.5vw; } 

p.publicationDate { padding: 0.5vw 0 0.5vw 0.5vw; }

p.byline {
	font-size: 0.9em;
	padding: 0.5vw 0 0.5vw 0.5vw;
    border-bottom: 1px solid;
    margin: auto;
    margin-bottom: 1em;
    width: max-content;
    text-align: center;
    max-width: 30%;
}


p.byline::before {
	content: "";
	background-image: url(byline-icon.png);
	background-size: 100%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

p.subtitle {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 600;
	font-size: 1.5em;
	text-align: center;
}

p.subtitle span, p.subtitle time  {
	text-shadow: 0px 1px 1px;
}


p.pubnote {
	font-variant: small-caps;
	color: var(--black-coffee);
	font-style: italic;
}







/* ODD FIGURES AND STAND-ALONE IMAGES /////////////////////////////////////////////////////*/

figure:nth-of-type(odd) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

figure:nth-of-type(odd) > img { order: 99; }

figure:nth-of-type(odd) > figcaption {
	width: 41%;
	text-transform: uppercase;
	text-align: right;
	padding-left: 1vW;
	order: 1;
}

figure:nth-of-type(odd) > figcaption:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--grey);
    margin: 1vW 1vW 0 5vW;
}

/*figure:nth-of-type(odd) + * {
	margin-top: -4vW;
}*/



img:nth-of-type(odd):not(:first-child) {float:right; max-height: 26vw; object-fit: contain;}

img:nth-of-type(odd):not(:first-child) + figcaption { 
    display: inline-block;
    width: 45%;
    margin-bottom: 13vw;
    margin-top: 13vw;
    text-transform: uppercase;
	text-align: right;
	padding-left: 1vW;
}

img:nth-of-type(odd):not(:first-child) + figcaption:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--grey);
    margin: 1vW 1vW 0 5vW;
}







/* EVEN FIGURES AND STAND-ALONE IMAGES ////////////////////////////////*/
figure:nth-of-type(even) > figcaption, img:nth-of-type(even) + figcaption {
	width: 40%;
	bottom: 20vW;
	left: 40vW;
	text-align: justify;
	z-index: 2;
	background-color: var(--light-taupe);
	padding: 3vW;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}


figure:nth-of-type(even) + *, img:nth-of-type(even) + figcaption + * {margin-top: -9em}






/* BLOCKQUOTES //////////////////////////////////////////*/
blockquote { 
	font-family: 'Playfair Display', serif;
	margin-right: 8vW;
	margin-left: 8vW;
	padding: 3vW;
	text-align: center;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    font-size: 1.8em;
    color: var(--deep-taupe);
}

blockquote > span {text-transform: uppercase;}

blockquote q, blockquote q span {
	text-transform: uppercase;
	color: white;
	background-color: black;
	line-height: 1.5;
	quotes: none;
}

blockquote q:before {
	background-image: url(open-quote-removebg.png);
	background-size: contain;
    display: inline-block;
    width: 2em; 
    height: 1.5em;
    background-repeat: no-repeat;
    content:"";
    margin-bottom: -0.9vW;
}


blockquote q:after { 
	background-image: url(close-quote-removebg.png);
	background-size: contain;
    display: inline-block;
    width: 2em; 
    height: 1.5em;
    background-repeat: no-repeat;
    content:"";
    margin-bottom: -0.9vW;
}


p.quoteAuthor {
	font-family: 'Martel Sans', sans-serif;
	margin-top: 1vW;
	font-weight: 100;
	text-align: center;
}





























/* COVER PAGE //////////////////////////////////////*/

#coverText h1:before { 
    background-color: var(--light-taupe);
    content: "";
    width: 60vw;
    height: 15vw;
    display: block;
    margin-bottom: -7vw;
    margin-left: -5vw;
} 

#coverText h1 {
	font-size: 5.5em;
    background-image: none;
    font-weight: bold;
    margin-left: 5vw;
    margin-right: 0;
}

#coverText h1:after {
	content: "";
	background-image: url(cover-image.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 20vw;
	width: 30vw;
	display: block;
	margin-top: -3vw;
	margin-left: 70%;
}

#coverText p {
	font-family: 'Playfair Display', serif;
	font-size: 2.5em;
    font-weight: bold;
}

#coverText p:nth-of-type(1) {
	margin-top: -4vw;
	width: 45%;
	margin-left: 30%;
	text-align: left;
}

#coverText p:nth-of-type(1):before {
	content: "";
	background-image: url(cover-art1-bis.jpg);
	background-size: 130%;
    background-position: 50% 40%;
	background-repeat: no-repeat;
	height: 30vw;
	width: 40vw;
	display: block;
	margin-bottom: -20vw;
	margin-left: -50%;
}


#coverText p:nth-of-type(2) {
	margin-top: 16vw;
	width: 40%;
    margin: auto;
    text-align: center;
}


#coverText p:nth-of-type(2):before {
	content: "";
	background-color: #879a6c; /* light green */
	height: 15vw;
	width: 50vw;
    display: block;
    margin-left: -100%;
    margin-bottom: -30%;
    margin-top: 10vw;	
}


#coverText p:nth-of-type(2):after {
	content: "";
    background-color: #ababab; /* silver */
    height: 10vw;
    width: 57vw;
    display: block;
    margin-top: -10%;
    position: absolute;
    right: 0;
    z-index: -99;	
}


#coverText p:nth-of-type(3) {
	margin: auto;
    width: 50%;
    margin-top: 8vw;
    text-align: center;
}


#coverText p:nth-of-type(3):before {
	content: "";
    background-image: url(cover-art3-bis.jpg);
    height: 20vw;
    width: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


#coverText p:nth-of-type(4) {
	position: relative;
    left: 20%;
    width: 50%;
    text-align: right;
}


#coverText p:nth-of-type(4):before {
	content: "";
    background-image: url(cover-art4-bis.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vw;
    width: 30vw;
    display: block;
    margin-bottom: -40%;
    margin-left: 90%;
    margin-top: 6vw;
}

#coverText p:nth-of-type(5) {
	margin-top: 16vw;
	width: 40%;
    margin: auto;
    text-align: center;
}


#coverText p:nth-of-type(5):before {
	content: "";
	background-color: var(--light-taupe);
	height: 10vw;
	width: 50vw;
    display: block;
    margin-left: -100%;
    margin-bottom: -20%;
    margin-top: 18vw;	
}


#coverText p:nth-of-type(5):after {
	content: "";
    background-color: var(--deep-taupe);
    height: 15vw;
    width: 56vw;
    display: block;
    margin-top: -15%;
    position: absolute;
    right: 0;
    z-index: -99;	
}




















/* ///////////////// MEDIA QUERIES ////////////////////////////////////////////////////////////////////////*/


/* tablets */
@media (min-width: 481px) and (max-width: 768px) {

	[onClick]:hover, p[onClick]:hover {
        animation-fill-mode: none;
        animation: none;
        font-weight: unset;
    }

	h1 { font-size: 3em; }

	h2 { font-size: 1.8em; }

	h3, blockquote, .subtitle { font-size: 1.2em; }

	#coverText h1 {font-size: 4em;/* width: 100%; */}

	#coverText h1:before { margin-left:-20%; }

	#coverText h1:after {width: 70%; margin-left: 3em; height: 45%;}

	#coverText p { font-size: 2em; width: 60% !important; }

	#coverText p:nth-of-type(1) {padding-top: 3em;}

	#coverText p:nth-of-type(2):before {margin-left: -6em; width: 12em;}

	#coverText p:nth-of-type(4):before {margin-left: 90%;}

	#coverText p:nth-of-type(4) {left: 10%;}

	#coverText p:nth-of-type(5) {margin-top: 3em;}

	#coverText p:nth-of-type(5):before {
		height: 3em;
		margin-bottom: -40%;
		margin-left: -6em;
	}


}




/* smartphones */
@media (max-width: 480px) {

	[onClick]:hover, p[onClick]:hover {
        animation-fill-mode: none;
        animation: none;
        font-weight: unset;
    }

    section:first-of-type {
    	margin-bottom: 2em;
    }

    p { font-size: 1.1em; }

	figcaption { font-size: 1em; }

	section:not(:first-of-type) > p:first-of-type:first-letter { font-size: 3.5em; }


    p.byline {max-width: 90%; font-size: 1.1em; }

    p.publicationDate, p.publicationPlace, p.subtitle, p.publicationTime, p.lastModification {width: 90%; max-width: 90%;}

    /*section:first-of-type > figure {margin: 0.5em 0 0.5em 0;}*/

    figure > img, img:nth-of-type(odd):not(:first-child), img:nth-of-type(even) {
	    width: 100%;
	    margin: 0.5em 0 0.5em 0;
	    max-height: none;
	}

    figure {
	    flex-direction: column;
	    margin: 0.5em 0 0.5em 0;
	}

	/* ODD /////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	figure:nth-of-type(odd) > figcaption, img:nth-of-type(odd):not(:first-child) + figcaption {
		order: 99;
		width: 90%;
		max-height: unset;
		margin: auto;
		text-align: center;
		margin-bottom: 1.5em;
		padding: 0;
		display: block; /* CONTROLLA CHE VADA BENE PER LE FIGURESS ///////////////////////////////////////////////////////////////////////////////////////*/
	}

	figure:nth-of-type(odd) > figcaption:after, img:nth-of-type(odd):not(:first-child) + figcaption:after {margin: 1vW 1vW 1vw 1vw;}

	
	/* EVEN /////////////////////////////////////////////////////////////////////////////////////////////////////////*/

	figure:nth-of-type(even) > figcaption, img:nth-of-type(even) + figcaption {
		bottom: 2em;
	    left: unset;
	    margin: auto;
	    width: 90%;
	    order: 99;
	    text-align: center;
	    padding: 0;
	    max-height: unset;
	}

	figure:nth-of-type(even) + *, img:nth-of-type(even) + figcaption + * {
	    margin-top: 0em;
	}




	h1 { 
		font-size: 2.2em;
		margin: 0.5em;
	}

	h2 { font-size: 1.4em; }

	h2:before {margin-left: -9vw}

	h3, .subtitle { font-size: 1.2em; }

	blockquote { font-size: 1.3em; }

	h3:before {margin-left: -10vw}


	#coverText h1 { 
		font-size: 3.2em;
		margin-left: 0;
	}

	#coverText h1:after { 
		height: 2em;
		width: 4em;
		margin-top: -0.5em;
		margin-left: 50%;
	}

	#coverText p { 
		font-size: 1.4em;
		width: 60% !important;
	}

	#coverText p:nth-of-type(1) {padding-top: 4em;}

	#coverText p:nth-of-type(2) {margin-top: 3em;}

	#coverText p:nth-of-type(2):before { margin-left: -55%; width: 55vw; }

	#coverText p:nth-of-type(3) {margin-top: 15vw;}

	#coverText p:nth-of-type(3):before {height: 4em;}

	#coverText p:nth-of-type(4) {
		left: 10%;
    	width: 60%;
	}

	#coverText p:nth-of-type(5):before { margin-left: -55%; }


	body:after {
	    width: 15em;
	    height: 3em;
	}



}

@media (max-width: 1043px) {
	#coverText p:nth-of-type(1) {margin-top: -15% !important;}
}