/* FONTS */
/* sans-serif for the body */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&display=swap');

/* serif for titles */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* sans-serif for subtitle and quoteAuthor */
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200&display=swap');


/* CSS HEX */
:root {
	--deep-taupe: #7a6667;
	--army-green: #243d00;
	--black-coffee: #362728;
	--avory: #f6f4f5;
	--grey: #545454;
	--light-taupe: #9d8485;
}


/* global styling */
@-ms-viewport {
  width: device-width;
}

::selection {
  color: white;
  background: var(--army-green);
}

[onClick] {cursor:pointer;}

[onclick]:hover {
	font-weight: bold 700;
	animation: shadow 2s;
	animation-fill-mode: both;
}

p[onclick]:hover {      
	animation: shadoww 1s;
	animation-fill-mode: both;
}

@keyframes shadoww {
  100% {text-shadow: 2px 2px 3px var(--black-coffee), 2px 2px 3px var(--black-coffee);}
}

@keyframes shadow {
  100% {text-shadow: 2px 2px 2px var(--black-coffee);}
}


span, time { font-weight: 600; }

* { 

}


body{
	background-color: var(--avory);
	font-family: 'Open Sans', sans-serif;
	padding: 0vw 4vw 3vw 4vW;
	/*margin-right: 20vW;
	margin-left: 30vW;
	margin-top: 20vW;
	margin-bottom: 3vW;
	display: flex;
	flex-direction: column;*/
}

h1, h2, h3, h4, h5, h6, blockquote {
	margin-top: 5vw;
	margin-left: 4vW;
	margin-right: 2vW;
	font-family: 'Playfair Display', serif;
}

h1 {
	font-size: 6vw;
	font-weight: 200;
	display: inline-block;
	margin-left: 30vW;
	margin-right: 3vW;
	background-image: url("painting.png");
	background-size: contain;
	background-repeat: no-repeat;	
  	background-position: 50% 100%;
  /* line-height: 1.5em;
	letter-spacing: 0.07em;
    word-spacing: 0.25em;*/
}
h1::first-letter { font-weight: 600; }

h2 { 
	font-size: 5vH;
	margin top: 2vw;
	margin-left: 3vw;
}

h2::before {
    background-color: var(--black-coffee);
    display: inline-block;
    content: "";
    height: 2vw;
    width: 7vw;
    margin-left: -8vw;
    margin-right: 1vw;
}

h3 { 
	font-size: 4vH;
	font-weight: 400;	
}

h3::before {
    background-color: var(--deep-taupe);
    display: inline-block;
    content: "";
    height: 2vw;
    width: 7vw;
    margin-left: -9vw;
    margin-right: 1vw;
}

h3::first-letter {
	font-weight: 600;
}

section, article, div, blockquote {
	margin-bottom: 3vW;
}

p {
	line-height: 1.15;
	text-align:justify;
	/*letter-spacing: 0.03em;
	word-spacing: 0.04em;*/
	-webkit-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	margin: 0 4vW 1vW 3vW;
	font-size: 3vH; 
}



img{
	width:50%;
	margin-top: 4vW;
	margin-left: 3vW;
	margin-bottom: 0;
	display: block;
	/*float: left;
	clear: both;*/
}

img + * { margin-top: 4vw; }

figcaption {
	font-size: 2vh;	
	position: relative;
}

/*@media only screen and (max-width: 480px) {
	figcaption {
		position: static;
		width: 100%;
		text-align: left;
		left: 0px;

	}

	img {
		width: 100%;
		margin-right: 2vW;
	}
}*/


body > p:last-child:after {
	content: "";
    background-image: url(social_icons.png);
    width: 30em;
    height: 4em;
    display: block;
    background-size: 100%;
    background-position: -1em center;
    background-repeat: no-repeat;
}




/* SECTIONS /////////////////////////////////////////////////////////*/

section:first-of-type {
	display: flex;
	flex-direction: column;
}

section:first-of-type:before { height: 0; }

section:first-of-type > h1 {order: 1;}

section:first-of-type > figure {
	order: 2;
	display: flex;
	flex-direction: column;
}

section:first-of-type > figure > figcaption {
    width: 100%;
    position: static;
    text-align: justify; 
    padding-left: 0; 
    order: 99; 
    margin-top: 2vw;
}

section:first-of-type > figure > figcaption:after {
    content: " ";
    display: block;
    border-bottom: 1px solid var(--grey);
    margin: 1vW 7vW 1vw 7vW;
}

section:first-of-type > .subtitle {order: 3;}

section:first-of-type > .byline {order: 4;}

section:first-of-type > .publicationDate {order: 5;}

section:first-of-type > .publicationTime {order: 6;}

section:first-of-type > .lastModification {order: 7;}

section:first-of-type > .publicationPlace {order: 8;}

section:first-of-type img, video {
	width: 100%;
	margin: 0;
}

section:first-of-type > p:not(.subtitle):not(.byline):not(.publicationDate):not(.publicationPlace):not(.lastModification):not(.publicationTime) {
	order: 99;
	width: 60%;
	text-align: center;
	margin: auto;
	/* color: var(--black-coffee); */
}



/*section:before {
	margin-left: 25%;
	margin-bottom: 2vW;
    margin top: 2vw;
    background-image: url(matita-verde.png);
    background-size: cover;
    background-position: center;
    display: block;
    height: 10vh;
    width: 40vw;
    background-repeat: no-repeat;
    content: "";    
}
*/

section:not(:first-of-type) > p:first-of-type:first-letter {
	font-size: 3em;
	color: var(--black-coffee);
	font-weight: bold;
	font-family: 'Playfair Display', serif; 
	float: left;
	line-height: 1;
	margin-top: -0.2em;
}



/* FIRST SECTION Ps /////////////////////////////7*/

.publicationDate, .publicationTime, .publicationPlace, .lastModification {    
    margin: 0 2vw 0 2vw;
    background-color: rgba(36, 61, 0, 0.2);
    border-left: 0.8vw solid var(--army-green);
}

.publicationTime, .lastModification, p.publicationPlace { padding: 0 0 0.5vw 0.5vw; } 

p.publicationDate { padding: 0.5vw 0 0.5vw 0.5vw; }

p.byline {
	font-size: 2.5vh;
	padding: 0.5vw 0 0.5vw 0.5vw;
    border-bottom: 1px solid;
    margin: 0 2vw 2vw 2vw;
    width: max-content;
}


p.byline::before {
	content: "";
	background-image: url(byline-icon.png);
	background-size: 100%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

p.subtitle {
	font-family: 'Martel Sans', sans-serif;
	font-weight: 600;
	font-size: 4.5vh;
	text-align: center;
}

p.subtitle span, p.subtitle time  {
	text-shadow: 0px 1px 1px;
}


p.pubnote {
	font-variant: small-caps;
	color: var(--black-coffee);
	font-style: italic;
}







/* ODD FIGURES AND STAND-ALONE IMAGES /////////////////////////////////////////////////////*/

figure:nth-of-type(odd) {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

figure:nth-of-type(odd) > img { order: 99; }

figure:nth-of-type(odd) > figcaption {
	width: 41%;
	text-transform: uppercase;
	text-align: right;
	padding-left: 1vW;
	order: 1;
}

figure:nth-of-type(odd) > figcaption:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--grey);
    margin: 1vW 1vW 0 5vW;
}

/*figure:nth-of-type(odd) + * {
	margin-top: -4vW;
}*/



img:nth-of-type(odd):not(:first-child) {float:right; max-height: 26vw; object-fit: contain;}

img:nth-of-type(odd):not(:first-child) + figcaption { 
    display: inline-block;
    width: 45%;
    margin-bottom: 13vw;
    margin-top: 13vw;
    text-transform: uppercase;
	text-align: right;
	padding-left: 1vW;
}

img:nth-of-type(odd):not(:first-child) + figcaption:after {
    content: " ";
    display: block;
    border-bottom: 2px solid var(--grey);
    margin: 1vW 1vW 0 5vW;
}







/* EVEN FIGURES AND STAND-ALONE IMAGES ////////////////////////////////*/
figure:nth-of-type(even) > figcaption, img:nth-of-type(even):not(:first-child) + figcaption {
	width: 40%;
	bottom: 20vW;
	left: 40vW;
	text-align: justify;
	z-index: 2;
	background-color: var(--light-taupe);
	padding: 3vW;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

figure:nth-of-type(even) + * /*   , img:nth-of-type(even):not(:first-child) + figcaption + *   */  {
	margin-top: -11vW;
}








/* BLOCKQUOTES //////////////////////////////////////////*/
blockquote { 
	font-family: 'Playfair Display', serif;
	margin-right: 8vW;
	margin-left: 8vW;
	padding: 3vW;
	text-align: center;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    font-size: 6vH;
    color: var(--deep-taupe);
}

blockquote > span {text-transform: uppercase;}

blockquote q, blockquote q span {
	text-transform: uppercase;
	color: white;
	background-color: black;
	line-height: 1.5;
	quotes: none;
}

blockquote q:before {
	background-image: url(open-quote-removebg.png);
	background-size: contain;
    display: inline-block;
    width: 7vW; 
    height: 7vh;
    background-repeat: no-repeat;
    content:"";
    margin-bottom: -0.9vW;
}


blockquote q:after { 
	background-image: url(close-quote-removebg.png);
	background-size: contain;
    display: inline-block;
    width: 7vW; 
    height: 7vh;
    background-repeat: no-repeat;
    content:"";
    margin-bottom: -0.9vW;
}


p.quoteAuthor {
	font-family: 'Martel Sans', sans-serif;
	margin-top: 1vW;
	font-size: 2vW;
	font-weight: 100;
	text-align: center;
}





























/* COVER PAGE //////////////////////////////////////*/

#coverText h1:before { 
    background-color: var(--light-taupe);
    content: "";
    width: 60vw;
    height: 15vw;
    display: block;
    margin-bottom: -7vw;
    margin-left: -5vw;
} 

#coverText h1 {
	font-size: 9vw;
    background-image: none;
    font-weight: bold;
    margin-left: 5vw;
    margin-right: 0;
}

#coverText h1:after {
	content: "";
	background-image: url(cover-image.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 20vw;
	width: 30vw;
	display: block;
	margin-top: -3vw;
	margin-left: 70%;
}

#coverText p {
	font-family: 'Playfair Display', serif;
	font-size: 4vw;
    font-weight: bold;
	/*margin-top: 3vw;
	margin-bottom: 3vw;*/
}

#coverText p:nth-of-type(1) {
	margin-top: -4vw;
	width: 45%;
	margin-left: 30%;
	text-align: left;
}

#coverText p:nth-of-type(1):before {
	content: "";
	background-image: url(cover-art1-bis.jpg);
	background-size: 130%;
    background-position: 50% 40%;
	background-repeat: no-repeat;
	height: 30vw;
	width: 40vw;
	display: block;
	margin-bottom: -20vw;
	margin-left: -50%;
}


#coverText p:nth-of-type(2) {
	margin-top: 16vw;
	width: 40%;
    margin: auto;
    text-align: center;
}


#coverText p:nth-of-type(2):before {
	content: "";
	background-color: #879a6c; /* light green */
	height: 15vw;
	width: 50vw;
    display: block;
    margin-left: -100%;
    margin-bottom: -30%;
    margin-top: 10vw;	
}


#coverText p:nth-of-type(2):after {
	content: "";
    background-color: #ababab; /* silver */
    height: 10vw;
    width: 57vw;
    display: block;
    margin-top: -10%;
    position: absolute;
    right: 0;
    z-index: -99;	
}


#coverText p:nth-of-type(3) {
	margin: auto;
    width: 50%;
    margin-top: 8vw;
    text-align: center;
}


#coverText p:nth-of-type(3):before {
	content: "";
    background-image: url(cover-art3-bis.jpg);
    height: 20vw;
    width: 100%;
    display: block;
    background-size: contain;
    background-repeat: no-repeat;
}


#coverText p:nth-of-type(4) {
	position: relative;
    left: 20%;
    width: 50%;
    text-align: right;
}


#coverText p:nth-of-type(4):before {
	content: "";
    background-image: url(cover-art4-bis.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 40vw;
    width: 30vw;
    display: block;
    margin-bottom: -40%;
    margin-left: 90%;
    margin-top: 6vw;
}

#coverText p:nth-of-type(5) {
	margin-top: 16vw;
	width: 40%;
    margin: auto;
    text-align: center;
}


#coverText p:nth-of-type(5):before {
	content: "";
	background-color: var(--light-taupe);
	height: 10vw;
	width: 50vw;
    display: block;
    margin-left: -100%;
    margin-bottom: -20%;
    margin-top: 18vw;	
}


#coverText p:nth-of-type(5):after {
	content: "";
    background-color: var(--deep-taupe);
    height: 15vw;
    width: 56vw;
    display: block;
    margin-top: -15%;
    position: absolute;
    right: 0;
    z-index: -99;	
}