
@font-face {
  font-family: "P22 Bayer Universal Regular";
  src: url("P22 Bayer Universal Regular.ttf");
  
}

@font-face {
  font-family: "Ronda Regular";
  src: url("rondaregular.ttf");
  
}


@font-face {
  font-family: "Bauhaus 93";
  src: url("bauhaus93.ttf"); 
}


/* stile per cover page*/

body#cover{
  background: url('croce.png') left top no-repeat, url('sfondo_beige.jpg') right top repeat;
  background-size: 55%, 100%; 
}

body#cover:first-of-type{
   transform: rotate(15deg);
   position: relative;
   left: 25vw; 
   margin-left: 10vw;
   width: 60%;
}

#cover p::first-letter{
  color: #ff0000;;
}

/* stile per articoli*/

[onClick] {cursor:pointer;}
span[onclick] {cursor:pointer;}
[onclick]:hover {color: #ff0000;}

body{
  background: url('bau-esclama.png') right top no-repeat, url('sfondo_beige.jpg') right top repeat; 
  background-size: 40%, 100%;  
}

body{
  font-family: "Ronda Regular";
  font-size: 2vw; /* per thscichold H1 deve essere 180% */
  font-weight: lighter;
  text-align: justify; 
  line-height: 1.6; /* 21pt;*/
  text-align-last: left;
  text-transform: lowercase;
  text-decoration: none; 
  overflow-x:hidden;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  letter-spacing: 0.03em; 
  word-wrap: break-word; 
  orphans: 3;    
  margin-left: 10vw; /*inner  margin secondo Tscichold*/
  margin-top: 10vw;
  margin-right: 20vw; /*outer margin*/
  margin-bottom: 30vw;
  /*height: 0%;   2:3 proportions; 
  padding-bottom: 150%; */
}



section{ 
border-bottom: 40px solid #d00606;
bottom: 20pt;
}

#cover h1{  
  font-family: "Bauhaus 93";
  text-align: left;
  text-transform: uppercase;
  font-size: 3.6vw;  /* siccome p è 2vw, il 180% di 2 è 3.6*/
  padding-top:1vw;
  padding-bottom:0vw;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-bottom: 14vw; 
  color: #141514;
  box-sizing: content-box;  
  border: 0px;
  transform: rotate(-15deg); 
  width: 60vw; 
  position: relative;
  right: 12vw;
  top: -1vw;
  background-color: #f4e4c8;
}

h1{  
  font-family: "Bauhaus 93";
  text-align: left;
  text-transform: uppercase;
  font-size: 3.6vw;  
  padding-top: 10vw; 
  padding-bottom: 10vw; 
  padding-left: 2.5em;
  color: #141514;
  box-sizing: content-box;
  transform: rotate(-30deg); 
  border: 0px;
  position: relative;
  left: -10vw;
}


section h1{
  transform: rotate(-30deg);
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

h2{
  font-family: "Bauhaus 93";
  font-size: 170%;
}

h3{
  font-family: "Bauhaus 93";
  font-size: 150%;
}

p{
  text-align: justify;
  letter-spacing: 0.03em;
  word-spacing: 0.04em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

p.byline{
  font-style:lowercase;
  position:relative;
  left: 55vw;    
  top: -6vw;
  width: 20vw;
  transform: rotate(15deg);
  text-decoration: underline;
}

p.publicationDate{
  font-style:lowercase;
  position:relative;
  left: 55vw; 
  transform: rotate(15deg);
  text-decoration: underline;
  color: #0066cc; 
}

p.publicationTime{
  font-style:lowercase;
  position:relative;
  left: 55vw;
  transform: rotate(15deg);
  text-decoration: underline;
  color: #0066cc; 
}

p.lastModification{
  font-style:lowercase;
  position:relative;
  top: -5vw;
  left: 54vw;
  transform: rotate(15deg);
  text-decoration: underline;
  width: 50%;
  color: #0066cc; 
}

p.subtitle{
  font-style:lowercase;
  transform: rotate(90deg);
  box-sizing: content-box;  
  width: 25%;
  height: 60px;  
  border: 0px;
  position: relative;
  left: 10%;
  hyphens: auto;
  margin-left: 15vw;
  padding-bottom: 25vw;
}

blockquote{
  margin-right: 0mm; 
  margin-left: 0mm;
  border-left: 3px solid red;
  font-size: 2.1vw; 
  padding: 1vw; 
}

figcaption{
  font-family: "P22 Bayer Universal Regular";
  text-align: justify;
  font-size: 2.05vw;
  font-weight: lighter;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 70%;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 1vw;
}

#heading img, source{
  position: relative;
  top: 20pt;
}

img, video{
  width: 60%;
 /* border: 20pt solid #f9f9eb;
 padding-right: 5pt;
  padding-left: 0pt;
  padding-top: 2%;*/
  filter:saturate(0%) sepia(100%) contrast(80%) saturate(100%); 
}

p a{color: black;}


[id^="SECTION-1-"] {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

[id^="H1-1-"]{
  -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
}

.subtitle {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
}

[id^="FIGURE-1-"]{
  -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
}

.byline {
  -webkit-box-ordinal-group: 4;
        -moz-box-ordinal-group: 4;
        box-ordinal-group: 4;
        margin: 0;
}


.publicationDate {
  -webkit-box-ordinal-group: 5;
        -moz-box-ordinal-group: 5;
        box-ordinal-group: 5;
        margin: 0;
}

.publicationTime {
  -webkit-box-ordinal-group: 6;
        -moz-box-ordinal-group: 6;
        box-ordinal-group: 6;
        margin: 0;
}

.lastModification {
  -webkit-box-ordinal-group: 7;
        -moz-box-ordinal-group: 7;
        box-ordinal-group: 7;
        margin: 0;
}

.biblioItem{
  border: 2px solid #0066cc; 
  padding: 1vw;
}

.pubnote{
  border: 2px solid #0066cc;
  padding: 1vw;
}

@media screen and (max-width: 800px){
 
  #cover h1{
    font-size: 2.7em;
    position:relative;
    top: -2vw;
  }
  
  #cover p {
    font-size: 1.5em;
    position: relative;
    top: -5vw;
  }

/*
    h1{
    font-size: 4.2em;   era 2 em
    position: relative;
    right: 6vw;
  }
*/
    h2, h3{font-size: 2.5em;}

    p.subtitle{
      font-size: 1.4em;
      width: 25vw;
    }

    p{font-size: 1.5em;}

    p.byline, p.publicationDate, p.publicationTime{font-size:1.3em;}

    p.lastModification{
      font-size:1.3em;
      width: 20vw;
    }

    figcaption{font-size: 1.3em;}
}


  /* FOR SMARTPHONE*/  
@media screen and (max-width: 600px) {
/*
  h1{
    width: 50vw;
    position: relative;
    right: 04vw;
    font-size: 3.42em; era 3em ma deve essere 180%
  }
*/
  #cover p{
  width: 50vmin;
  }

/*  POTREBBE SERVIRE PER 1980
  body{
    margin-right: 0vw;
    margin-left: 0vw;
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 2vw;
    padding-bottom: 3vw;
  }
*/

  p.subtitle{
    width: 40vw;
    font-size: 1.5em; 
    top: -10vw;
  }

  p.byline{
    width: 20vw;
    font-size:1.2em;
    top: -5vw;
  }

  p.publicationDate{
    font-size:1.2em;
    width: 20vw;
    top: -5vw;
  }

 p.publicationTime, p.lastModification{font-size:1.2em;}


  figcaption, blockquote, .quoteAuthor{font-size:1.5em;}

  h2{font-size: 2.5em;}

  h3{font-size: 2em;}

  p{font-size: 1.9em;}
/*METTERE Q IN 1.5 EM?*/
  .biblioItem, .pubnote{
  border: 2px solid #d00606; 
}
/*
  p.publicationDate{
    font-size: 0.7em;
    width: 40%;
  }
  */

  section{ /* come faccio a dirgli solo dopo il primo voglio la riga? */
    border-bottom: 30px dotted #0066cc;
    bottom: 20pt;
  }

  /*figcaption{font-size: 1.9vw;}*/
/*
  blockquote{
    margin-right: 10mm;
    font-size: 1.9vw;
  } */

}  /*chiusura mediaquery*/

@media screen and (max-width: 400px) {
  #cover p{
  width: 40vmin;
  }
}
